.NotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    >svg {
        width: 150px;
        height: 150px;
        margin-bottom: 40px;
    }
}