.box {
    width: 85%;

    >div {
        width: 320px;
        max-width: 100vw;
        height: 200px;
        padding: 30px;
        color: white;

        &:first-child {
            height: auto;
            background-color: $ScoutsPurple-500;
            margin-top: -150px;

            h1 {
                text-align: center;
            }

            p {
                margin: 10px auto;
                font-size: 22px;
            }

            >div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;

            }
        }
    }
}

.PageSize {
    position: relative;
}

.ageSection {
    padding: 15px;

    h3 {
        font-size: 35px;
        margin: 30px 0;
    }

    >div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;

        >a {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 190px;
            height: 150px;
            @include box_shadow (2);
            border-radius: 5px;

            >div {
                &:first-child {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: center;
                    flex: 1;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    color: white;

                    h4 {
                        font-size: 25px;
                    }
                }

                &:last-child {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    font-weight: bold;
                }
            }

            &:nth-child(1)>div:first-child {
                background-color: $ScoutsBlue-500;
            }

            &:nth-child(2)>div:first-child {
                background-color: $ScoutsGreen-500;
            }

            &:nth-child(3)>div:first-child {
                background-color: $ScoutsPurple-500;
            }

            &:nth-child(4)>div:first-child {
                background-color: $ScoutsNavy-500;
            }

            &:nth-child(5)>div:first-child {
                background-color: black;
            }
        }
    }
}

.SectionHeader {
    margin-bottom: 20px;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 80px 40px 0;
    background-color: $ScoutsTeal-500;

    h1 {
        font-size: 64px;
        color: white;
    }

}

@media only screen and (min-device-width: 1024px) {
    .box>div {
        margin-right: 500px;
    }
}

.campfirevideo {
    margin-top: 20px;
    margin-bottom: 20px;
}