

$ScoutsPurple: #7413dc;

$ScoutsTeal: #00a794;

$ScoutsRed: #e22e12;

$ScoutsPink: #ffb4e5;

$ScoutsGreen: #23a950;

$ScoutsNavy: #003982;

$ScoutsBlue: #006ddf;

$ScoutsYellow: #ffe627;

$ScoutsTextGrey: #404040;

/* For use in _color-definitions.scss */
$ScoutsPurple:
rgb(238, 227, 251)
rgb(213, 184, 245)
rgb(186, 137, 238)
rgb(158, 90, 231)
rgb(137, 54, 225)
rgb(116, 19, 220)
rgb(108, 17, 216)
rgb(97, 14, 211)
rgb(87, 11, 206)
rgb(68, 6, 197)
rgb(243, 238, 255)
rgb(205, 187, 255)
rgb(168, 136, 255)
rgb(150, 111, 255)
;

$ScoutsPurple-50: nth($ScoutsPurple, 1);
$ScoutsPurple-100: nth($ScoutsPurple, 2);
$ScoutsPurple-200: nth($ScoutsPurple, 3);
$ScoutsPurple-300: nth($ScoutsPurple, 4);
$ScoutsPurple-400: nth($ScoutsPurple, 5);
$ScoutsPurple-500: nth($ScoutsPurple, 6);
$ScoutsPurple-600: nth($ScoutsPurple, 7);
$ScoutsPurple-700: nth($ScoutsPurple, 8);
$ScoutsPurple-800: nth($ScoutsPurple, 9);
$ScoutsPurple-900: nth($ScoutsPurple, 10);
$ScoutsPurple-A100: nth($ScoutsPurple, 11);
$ScoutsPurple-A200: nth($ScoutsPurple, 12);
$ScoutsPurple-A400: nth($ScoutsPurple, 13);
$ScoutsPurple-A700: nth($ScoutsPurple, 14);


$ScoutsTeal:
rgb(224, 244, 242)
rgb(179, 229, 223)
rgb(128, 211, 202)
rgb(77, 193, 180)
rgb(38, 180, 164)
rgb(0, 167, 148)
rgb(0, 159, 140)
rgb(0, 150, 129)
rgb(0, 140, 119)
rgb(0, 124, 101)
rgb(169, 255, 236)
rgb(118, 255, 225)
rgb(67, 255, 214)
rgb(42, 255, 208)
;

$ScoutsTeal-50: nth($ScoutsTeal, 1);
$ScoutsTeal-100: nth($ScoutsTeal, 2);
$ScoutsTeal-200: nth($ScoutsTeal, 3);
$ScoutsTeal-300: nth($ScoutsTeal, 4);
$ScoutsTeal-400: nth($ScoutsTeal, 5);
$ScoutsTeal-500: nth($ScoutsTeal, 6);
$ScoutsTeal-600: nth($ScoutsTeal, 7);
$ScoutsTeal-700: nth($ScoutsTeal, 8);
$ScoutsTeal-800: nth($ScoutsTeal, 9);
$ScoutsTeal-900: nth($ScoutsTeal, 10);
$ScoutsTeal-A100: nth($ScoutsTeal, 11);
$ScoutsTeal-A200: nth($ScoutsTeal, 12);
$ScoutsTeal-A400: nth($ScoutsTeal, 13);
$ScoutsTeal-A700: nth($ScoutsTeal, 14);


$ScoutsRed:
rgb(252, 230, 227)
rgb(246, 192, 184)
rgb(241, 151, 137)
rgb(235, 109, 89)
rgb(230, 77, 54)
rgb(226, 46, 18)
rgb(223, 41, 16)
rgb(218, 35, 13)
rgb(214, 29, 10)
rgb(207, 18, 5)
rgb(255, 248, 247)
rgb(255, 198, 196)
rgb(255, 149, 145)
rgb(255, 125, 120)
;

$ScoutsRed-50: nth($ScoutsRed, 1);
$ScoutsRed-100: nth($ScoutsRed, 2);
$ScoutsRed-200: nth($ScoutsRed, 3);
$ScoutsRed-300: nth($ScoutsRed, 4);
$ScoutsRed-400: nth($ScoutsRed, 5);
$ScoutsRed-500: nth($ScoutsRed, 6);
$ScoutsRed-600: nth($ScoutsRed, 7);
$ScoutsRed-700: nth($ScoutsRed, 8);
$ScoutsRed-800: nth($ScoutsRed, 9);
$ScoutsRed-900: nth($ScoutsRed, 10);
$ScoutsRed-A100: nth($ScoutsRed, 11);
$ScoutsRed-A200: nth($ScoutsRed, 12);
$ScoutsRed-A400: nth($ScoutsRed, 13);
$ScoutsRed-A700: nth($ScoutsRed, 14);


$ScoutsPink:
rgb(255, 246, 252)
rgb(255, 233, 247)
rgb(255, 218, 242)
rgb(255, 203, 237)
rgb(255, 191, 233)
rgb(255, 180, 229)
rgb(255, 173, 226)
rgb(255, 164, 222)
rgb(255, 156, 218)
rgb(255, 140, 211)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(255, 255, 255)
;

$ScoutsPink-50: nth($ScoutsPink, 1);
$ScoutsPink-100: nth($ScoutsPink, 2);
$ScoutsPink-200: nth($ScoutsPink, 3);
$ScoutsPink-300: nth($ScoutsPink, 4);
$ScoutsPink-400: nth($ScoutsPink, 5);
$ScoutsPink-500: nth($ScoutsPink, 6);
$ScoutsPink-600: nth($ScoutsPink, 7);
$ScoutsPink-700: nth($ScoutsPink, 8);
$ScoutsPink-800: nth($ScoutsPink, 9);
$ScoutsPink-900: nth($ScoutsPink, 10);
$ScoutsPink-A100: nth($ScoutsPink, 11);
$ScoutsPink-A200: nth($ScoutsPink, 12);
$ScoutsPink-A400: nth($ScoutsPink, 13);
$ScoutsPink-A700: nth($ScoutsPink, 14);


$ScoutsGreen:
rgb(229, 245, 234)
rgb(189, 229, 203)
rgb(145, 212, 168)
rgb(101, 195, 133)
rgb(68, 182, 106)
rgb(35, 169, 80)
rgb(31, 162, 73)
rgb(26, 152, 64)
rgb(21, 143, 55)
rgb(12, 126, 39)
rgb(175, 255, 191)
rgb(124, 255, 150)
rgb(73, 255, 108)
rgb(48, 255, 88)
;

$ScoutsGreen-50: nth($ScoutsGreen, 1);
$ScoutsGreen-100: nth($ScoutsGreen, 2);
$ScoutsGreen-200: nth($ScoutsGreen, 3);
$ScoutsGreen-300: nth($ScoutsGreen, 4);
$ScoutsGreen-400: nth($ScoutsGreen, 5);
$ScoutsGreen-500: nth($ScoutsGreen, 6);
$ScoutsGreen-600: nth($ScoutsGreen, 7);
$ScoutsGreen-700: nth($ScoutsGreen, 8);
$ScoutsGreen-800: nth($ScoutsGreen, 9);
$ScoutsGreen-900: nth($ScoutsGreen, 10);
$ScoutsGreen-A100: nth($ScoutsGreen, 11);
$ScoutsGreen-A200: nth($ScoutsGreen, 12);
$ScoutsGreen-A400: nth($ScoutsGreen, 13);
$ScoutsGreen-A700: nth($ScoutsGreen, 14);


$ScoutsNavy:
rgb(224, 231, 240)
rgb(179, 196, 218)
rgb(128, 156, 193)
rgb(77, 116, 168)
rgb(38, 87, 149)
rgb(0, 57, 130)
rgb(0, 51, 122)
rgb(0, 44, 111)
rgb(0, 36, 101)
rgb(0, 23, 82)
rgb(133, 155, 255)
rgb(82, 113, 255)
rgb(31, 71, 255)
rgb(5, 51, 255)
;

$ScoutsNavy-50: nth($ScoutsNavy, 1);
$ScoutsNavy-100: nth($ScoutsNavy, 2);
$ScoutsNavy-200: nth($ScoutsNavy, 3);
$ScoutsNavy-300: nth($ScoutsNavy, 4);
$ScoutsNavy-400: nth($ScoutsNavy, 5);
$ScoutsNavy-500: nth($ScoutsNavy, 6);
$ScoutsNavy-600: nth($ScoutsNavy, 7);
$ScoutsNavy-700: nth($ScoutsNavy, 8);
$ScoutsNavy-800: nth($ScoutsNavy, 9);
$ScoutsNavy-900: nth($ScoutsNavy, 10);
$ScoutsNavy-A100: nth($ScoutsNavy, 11);
$ScoutsNavy-A200: nth($ScoutsNavy, 12);
$ScoutsNavy-A400: nth($ScoutsNavy, 13);
$ScoutsNavy-A700: nth($ScoutsNavy, 14);


$ScoutsBlue:
rgb(224, 237, 251)
rgb(179, 211, 245)
rgb(128, 182, 239)
rgb(77, 153, 233)
rgb(38, 131, 228)
rgb(0, 109, 223)
rgb(0, 101, 219)
rgb(0, 90, 215)
rgb(0, 80, 210)
rgb(0, 62, 202)
rgb(242, 245, 255)
rgb(191, 206, 255)
rgb(140, 167, 255)
rgb(115, 148, 255)
;

$ScoutsBlue-50: nth($ScoutsBlue, 1);
$ScoutsBlue-100: nth($ScoutsBlue, 2);
$ScoutsBlue-200: nth($ScoutsBlue, 3);
$ScoutsBlue-300: nth($ScoutsBlue, 4);
$ScoutsBlue-400: nth($ScoutsBlue, 5);
$ScoutsBlue-500: nth($ScoutsBlue, 6);
$ScoutsBlue-600: nth($ScoutsBlue, 7);
$ScoutsBlue-700: nth($ScoutsBlue, 8);
$ScoutsBlue-800: nth($ScoutsBlue, 9);
$ScoutsBlue-900: nth($ScoutsBlue, 10);
$ScoutsBlue-A100: nth($ScoutsBlue, 11);
$ScoutsBlue-A200: nth($ScoutsBlue, 12);
$ScoutsBlue-A400: nth($ScoutsBlue, 13);
$ScoutsBlue-A700: nth($ScoutsBlue, 14);


$ScoutsYellow:
rgb(255, 252, 229)
rgb(255, 248, 190)
rgb(255, 243, 147)
rgb(255, 238, 104)
rgb(255, 234, 71)
rgb(255, 230, 39)
rgb(255, 227, 35)
rgb(255, 223, 29)
rgb(255, 219, 23)
rgb(255, 213, 14)
rgb(255, 255, 255)
rgb(255, 253, 246)
rgb(255, 244, 195)
rgb(255, 239, 170)
;

$ScoutsYellow-50: nth($ScoutsYellow, 1);
$ScoutsYellow-100: nth($ScoutsYellow, 2);
$ScoutsYellow-200: nth($ScoutsYellow, 3);
$ScoutsYellow-300: nth($ScoutsYellow, 4);
$ScoutsYellow-400: nth($ScoutsYellow, 5);
$ScoutsYellow-500: nth($ScoutsYellow, 6);
$ScoutsYellow-600: nth($ScoutsYellow, 7);
$ScoutsYellow-700: nth($ScoutsYellow, 8);
$ScoutsYellow-800: nth($ScoutsYellow, 9);
$ScoutsYellow-900: nth($ScoutsYellow, 10);
$ScoutsYellow-A100: nth($ScoutsYellow, 11);
$ScoutsYellow-A200: nth($ScoutsYellow, 12);
$ScoutsYellow-A400: nth($ScoutsYellow, 13);
$ScoutsYellow-A700: nth($ScoutsYellow, 14);

