.NavigationHeader {
    top: 0;
    position: fixed;
    min-width: 80%;
    transition: width 0.3s linear;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    padding: 5px 0;
    background-color: $ScoutsPurple-500;

    .HeaderLogo {
        flex: 2;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 100%;
        width: 100%;
        position: relative;
        border-right: 3px solid white;
        max-width: 300px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .HeaderLinks {
        flex: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        padding: 0 15px;
        max-width: 900px;

        .dropdownMenu {
            flex: 1;

            .dropdownMenuHeightWrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                align-content: center;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: 20px;
                padding: 20px 0;
            }
        }

        span {
            cursor: pointer;
            color: white;
            font-size: 26px;
            font-weight: bold;
        }

        .CurrentPage {
            display: none;
        }

        .MenuIcon {
            display: none;

            svg {
                width: 40px;
                height: 40px;
                vertical-align: middle;
            }
        }
    }
}

@media only screen and (max-device-width: 1024px) {
    .NavigationHeader {
        width: 100% !important;
        flex-direction: row-reverse;

        .HeaderLogo {
            flex: 8;
            border-right: none;
        }

        .HeaderLinks {
            flex: 10;

            .MenuIcon {
                display: block;
            }

            span {
                font-size: 18px;
            }

            .CurrentPage {
                display: block;
            }

            .dropdownMenu {
                overflow: hidden;
                position: absolute;
                top: 80px;
                width: 100%;
                left: 0;
                background-color: $ScoutsPurple-500;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;

                .dropdownMenuHeightWrapper {
                    flex-direction: column;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1024px) {
    .NavigationHeader {
        min-width: 1024px;
        width: 1100px;
        .HeaderLinks {
            .dropdownMenu {
                height: auto !important;
            }
        }
    }
}